# Control flow Part 4
---

Hey, welcome back.Today's topic is  `next` and `break`. 

**Conditional execution** 

We are already known how to use `for` and `while` loop. These two structures could do a lot of powerful things, but sometimes when we want to execute statements only with some conditions are met. What should we do? R provides us `if-else`, and `ifeles` for this job.

**if statement**:

We use `if` statement when we want execute statements only conditions are true. Here is the syntax.

```R
# When conditions are true, then statements will execute. If not, nothing will execute.
> if (conditions) {
  statement1
  statement2
  ...    
  }
```

In [1]:
x <- 1
if (x < 10) { #  x is smallet than 10, so this condition is TRUE
  print("This number is smaller than 10") # This line will be executed
}

[1] "This number is smaller than 10"

In [2]:
x <- 11
if (x < 10) { #  x is smallet than 10, so this condition is FALSE
  print("This number is smaller than 10")
  # This line will not be executed
}

**else statement**:

`If` statement can handle a lot of things, however, our requirements are more complicated in some cases.  If a condition is FALSE, we would like to run other statements instead of doing nothing. So, we need `else` statement.

As usual, here is the syntax.
```R
# When conditions are trun, statement1 will be executed. Statement2 will be executed only when conditions are FALSE

# Only one of Statemen1 ans statement2 will be executed. It will never happen, they are both  executed.

> if (conditions) {
    statement1
} else {
    statement2
}
```

In [3]:
x <- 11
if (x < 10) { # condition is FALSE
# This statement will not be executed,jump to else statement
  print("This number is smaller than 10") 
} else{
# This statement will be executed because condition is FALAE
  print("This number is larger than 10")
}

[1] "This number is larger than 10"

The example is straightforward, and you can easily understand it. One thing needs to be noticed which is that you could use `if` statement alone ,but you cannot use `else` along.

**else if**:

When we only have two conditions need to be concerned, `if_else` could meet our requirements. But if we have more than two conditions? In this case, we need to add a new item to help us. The `if else` statement.

```R
> if (condition1) {
    statement1
} else if (condition2) {
    statement2
} else {
    statement3
}
```

Here is the logical for this program. The program will test condition 1 first, if it is true, then statement 1 will be executed and program ends.  If, condition 1 is FALSE, program will test condition 2. This is the same story as statement 1. Finally, if all statements are FALSE, then execute statement and program ends.  Here, we only add two additions, you cal add as many as you want and the logical is same.

**ifelse**:

`ifelse` if the last thing of today. First, let's see an example. We will compare two methods. The first one, we only use the technique we learned so far. For the second solution, we use `ifelse`.

Supposing we have a data set as following.

In [4]:
Name <- c("Shawn", "Simon", "Jack", "Peter")
Score <- c(78, 85, 60, 100)
test <- data.frame(Name, Score)
test$Name <- as.character(test$Name)

In [5]:
test

  Name  Score
1 Shawn  78
2 Simon  85
3 Jack   60
4 Peter 100

Now, we want to add a new column named rank, and set rank as 'good' if the Score is larger than 80, if not, the rank is 'bad'. Let's see how to do it.

In [6]:
# method 1
for (i in 1:4) {
  if (test$Score[i] > 80) {
    test$rank[i] <- "Good"
  } else {
    test$rank[i] <- "Bad"
  }
}

In [7]:
# We add a new column by method 1
test

  Name  Score rank
1 Shawn  78   Bad
2 Simon  85   Good
3 Jack   60   Bad
4 Peter 100   Good

To be honest, there is nothing wrong with method 1.  It is just a little bit redundancy. `for` loop is a little bit of slow because it is an `O(n)` algorithm, it is fine if you do not understand what is `O(n)` algorithm. Just remember, `for` loop is slow.  We will cover a lot of methods to avoid `for` loop. Here is the first one.

In [8]:
# Method2
test$rank2 <- ifelse(test$Score > 80, "Good", "Bad")
# We add a new column by method 2
test

  Name  Score rank rank2
1 Shawn  78   Bad  Bad
2 Simon  85   Good Good
3 Jack   60   Bad  Bad
4 Peter 100   Good Good

See, method 2 is simpler than method 1. The reason why we do not need to use `for` loop to iterate item in the data set is that `ifelse` will treat data as a vector. We also call this operation is vectorization. So far, you do not need to know what is it, but if you are interested in it. I strongly recommend this [link](https://www.coursera.org/learn/neural-networks-deep-learning/lecture/NYnog/vectorization) for you. 

Before we end today's topic, let's see the syntax of `ifelse`. 

```R
ifelse(conditions, statement1, statement2)
```

When conditions are true, then statement 1 will be executed, if not, statement 2 will be executed. Notice that, you could set multiple conditions here.

If we only use `for` loop , `while` loop and, `if_else`  statement alone in one program. There are not to much things we could do, but if we combine them together. Things will become more interesting. 

Next time, we will do some thing fun.

See you guys!